{% extends 'base.html' %}

{% load static %}

{% block title %}パスワードリセット{% endblock title %}

{% block head %}<link type="text/css" rel="stylesheet" href="{% static 'css/accounts-style.css' %}">{% endblock head %}

{% block contents %}
<section class="section-accounts" id="section-signup">
    <div class="wrapperHeader">
        <h2>{% if token_fail %}不正トークン{% else %}パスワードリセット{% endif %}</h2>
        <p>アカウントをまだお持ちでなければ、こちらから<a href="{% url 'account_signup' %}"><span class="accounts-link">ユーザー登録</span></a>してください。</p>
    </div>

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
    {% else %}
        {% if form %}
            <div class="wrapper-accounts-form">
                <form method="post" action="{{ passwd_reset_url }}" class="form-accounts">
                    {% csrf_token %}

                    <div class="form-content">
                        <input type="password1" name="password1" placeholder="新しいパスワード" autocomplete="new-password" required id="id_password1">
                    </div>
                    <div class="form-content">
                        <input type="password2" name="password2" placeholder="新しいパスワード（再入力）" autocomplete="new-password" required id="id_password2">
                    </div>
                    <button class="accounts-btn" type="submit">変更</button>
                </form>
            </div>
        {% else %}
            <div class="text-align-center">
                <p class="notion">パスワードは変更されています。</p>
            </div>
        {% endif %}
    {% endif %}
    <a class="backToHome" href="{% url 'cafe_app:index' %}">＜＜＜ホームに戻る</a>
</section>
{% endblock contents %}
