{% extends 'base.html' %}

{% load static %}

{% block title %}パスワードリセット{% endblock title %}

{% block head %}<link type="text/css" rel="stylesheet" href="{% static 'css/accounts-style.css' %}">{% endblock head %}

{% block contents %}
<section class="section-accounts" id="section-signup">
    <div class="wrapperHeader">
        <h2>パスワードリセット</h2>

        {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
        {% endif %}

        <p>パスワードリセット用のメールを送信します。</p>
    </div>
    <div class="wrapper-accounts-form">
        <form method="post" action="{% url 'account_reset_password' %}" class="form-accounts">
            {% csrf_token %}

            <div class="form-content">
                <label>Email</label>
                <input type="email" name="email" placeholder="メールアドレス" autocomplete="email" required id="id_email">
            </div>
            <button class="accounts-btn" type="submit">送信</button>
        </form>
    </div>
    <a class="backToHome" href="{% url 'cafe_app:index' %}">＜＜＜ホームに戻る</a>
</section>
{% endblock contents %}
