/* 共通 */

* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: -apple-system, Calibri、Candara、Segoe、Segoe UI、Optima、Arial、sans-serif;
}

a:link, a:visited, a:hover, a:active {
    color: inherit;
    text-decoration: none;
}

/* トップページ */

.topPage {
    position: relative;
}

.topMainImg {
    width: 100vw;
}

.wrapperNav {
    position: absolute;
    top: 50px;
    right: 100px;
}

.wrapperNav ul {
    display: flex;
    flex-direction: row;
}

.wrapperNav li {
    color: #d3c2bb;
    letter-spacing: .3rem;
    margin: 0 .5rem;
    font-weight: 800;
}

.welcome {
    background-color: #d3c2bb;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.welcome p {
    display: block;
    margin-top: 1rem;
}

/* フッター */

footer {
    background-color: #614039;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer div {
    text-align: center;
    position: relative;
}

footer p {
    color: #d3c2bb;
    font-size: 12px;
}
