/* 共通 */

:root {
    --dark-color: #442f1e;
    --semi-dark-color: #614039;
    --base-color: #d3c2bb;
    --accent-color: #598493;
    --footer-height: 100px;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: -apple-system, Calibri、Candara、Segoe、Segoe UI、Optima、Arial、sans-serif;
    box-sizing: border-box;
}

a:link, a:visited, a:hover, a:active {
    color: inherit;
    text-decoration: none;
}

.wrapperHeader {
    text-align: center;
    padding: 3rem;
}

.notion {
    display: block;
    margin: 20px;
}

/* messages */

.wrapperMessages {
    background-color: var(--base-color);
    padding: 20px 0;
}

.message {
    background-color: var(--semi-dark-color);
    width: fit-content;
    padding: 10px 20px;
    margin: .2rem auto;
    color: var(--base-color);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

/* トップページ */

.topPage {
    position: relative;
}

.topMainImg {
    width: 100vw;
}

.wrapperNav {
    position: absolute;
    top: 50px;
    right: 100px;
}

.wrapperNav ul {
    display: flex;
    flex-direction: row;
}

.wrapperNav li {
    color: var(--base-color);
    letter-spacing: .3rem;
    margin: 0 .5rem;
    font-weight: 800;
}

.welcome {
    background-color: var(--base-color);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.welcome p {
    display: block;
    margin-top: 1rem;
}

/* フッター */

footer {
    background-color: var(--semi-dark-color);
    height: var(--footer-height);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer div {
    text-align: center;
    position: relative;
}

footer p {
    color: var(--base-color);
    font-size: 12px;
}

/* メニュー */

.sectionMenu {
    background-color: var(--base-color);
    top: 0;
    color: var(--dark-color);
    min-height: calc(100vh - var(--footer-height));
}

.wrapperMenu {
    width: fit-content;
    margin: 0 auto;
}

.ulMenu {
    width: fit-content;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.menuContent {
    width: 30vw;
    max-width: 500px;
    margin: 30px 15px;
}

.menuContent img {
    width: 100%;
    height: auto;
}

.menuContent h3 {
    display: block;
    margin: 10px 0;
    font-style: italic;
}

.menuContent .price {
    font-weight: 600;
    max-width: 100%;
    word-wrap: break-word;
}

.menuContent .description {
    display: block;
    margin-top: 5px;
    max-width: 100%;
    word-wrap: break-word;
}

.menuContent .created_at, .menuContent .updated_at {
    display: block;
    margin-top: 5px;
}

.menuContent hr {
    margin: 30px 0;
}

.wrapperEditBtns {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.wrapperEditBtns a, .wrapperEditBtns button {
    padding: 10px 30px;
    font-size: 16px;
    margin: 0 5px;
    color: var(--dark-color);
    transition-duration: .2s;
}

.wrapperEditBtns a:hover, .wrapperEditBtns button:hover {
    cursor: pointer;
    opacity: .9;
    transform: translateY(-2px);
}

.btn-update, .btn-cancel {
    background-color: var(--accent-color);
    border: none;
}

.btn-delete {
    background-color: #e83745;
    border: none;
}

.backToHome {
    display: block;
    width: fit-content;
    margin-top: 30px;
    margin-left: 20px;
}

/* お問い合わせ */

.sectionContact {
    background-color: var(--base-color);
    top: 0;
    color: var(--dark-color);
    min-height: calc(100vh - var(--footer-height));
}

.wrapperForm {
    width: fit-content;
    margin: 0 auto;
}

.formContent {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    margin-top: 1rem;
}

.formContent p {
    position: relative;
    display: block;
    margin-right: 10px;
    padding: 5px 5px;
}

.formContent input {
    background-color: inherit;
    width: 450px;
    height: 24px;
    font-size: 16px;
    border: none;
    border-bottom: solid var(--dark-color) 1px;
}

.formContent input:focus {
    outline: none;
    border-bottom: solid var(--accent-color) 2px;
}

.formContent textarea {
    width: 450px;
    height: 280px;
    resize: none;
    background-color: inherit;
    font-size: 16px;
}

.wrapperForm button {
    background-color: var(--accent-color);
    display: block;
    padding: 10px 70px;
    border: solid var(--semi-dark-color) 1px;
    font-size: 20px;
    margin: 3rem auto 0 auto;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    transition-duration: .2s;
}

.wrapperForm button:hover {
    transform: translateY(-2px);
    opacity: .9;
    cursor: pointer;
}

/* メニュー更新フォーム */

.wrapperUpdateForm {
    width: fit-content;
    margin: 0 auto;
}

.formUpdate p {
    display: block;
    margin: 30px;
}

.formUpdate input[type="text"], .formUpdate input[type="number"] {
    background-color: inherit;
    width: 450px;
    height: 24px;
    font-size: 16px;
    border: none;
    border-bottom: solid var(--dark-color) 1px;
    margin-left: 10px;
}

.formUpdate input[type="text"]:focus, .formUpdate input[type="number"]:focus {
    outline: none;
    border-bottom: solid var(--accent-color) 2px;
}

.wrapperUpdateBtns {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.wrapperUpdateBtns .btn {
    width: 200px;
    height: 50px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    font-size: 20px;
    transition-duration: .2s;
}

.wrapperUpdateBtns .btn:hover {
    transform: translateY(-2px);
    opacity: .9;
    cursor: pointer;
}

.wrapperUpdateBtns .btnUpdate {
    background-color: var(--accent-color);
    display: block;
    border: solid var(--semi-dark-color) 1px;
    margin-right: 5px;
}

.wrapperUpdateBtns .btnCancel {
    background-color: var(--semi-dark-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--base-color);
    margin-left: 5px;
}

.wrapperUpdateBtns .btnCancel p {
    display: block;
    width: fit-content;
    margin: 0;
}
