{% extends 'base.html' %}

{% load static %}

{% block title %}お問い合わせ{% endblock title %}

{% block contents %}
<section class="sectionContact">
    <div class="wrapperHeader">
        <h2>CONTACT</h2>
    </div>
    <div class="wrapperForm">
        <form method="post">
            {% csrf_token %}

            {{ form.non_field_errors }}

            {% for field in form %}
            <div class="formContent">
                <p>{{ field.label_tag }}</p>
                {{ field }}
                {{ field.errors }}
            </div>
            {% endfor %}
            <button type="submit">送 信</button>
        </form>
    </div>
    <a class="backToHome" href="{% url 'cafe_app:index' %}">＜＜＜ホームに戻る</a>
</section>
{% endblock contents %}
