{% extends 'base.html' %}

{% load static %}

{% block title %}トップページ{% endblock title %}

{% block contents %}
<div class="topPage">
    <img class="topMainImg" src="{% static 'assets/img/first-view.jpg' %}" alt="first-view">
    <div class="wrapperNav">
        <nav>
            <ul>
                <li><a href="#">HOME</a></li>
                <li><a href="{% url 'cafe_app:menu' %}">MENU</a></li>
                <li><a href="{% url 'cafe_app:contact' %}">CONTACT</a></li>
            </ul>
        </nav>
    </div>
</div>
<section class="welcome">
    <div>
        <h2>ようこそ、hoge cafeへ</h2>
        <p>こちらはhoge cafeの公式サイトです。</p>
    </div>
</section>
{% endblock contents %}
