{% extends 'base.html' %}

{% load static %}

{% block title %}トップページ{% endblock title %}

{% block contents %}
<section class="sectionMenu">
    <div class="wrapperHeader">
        <h2>MENU</h2>
    </div>
    <div class="wrapperMenu">
        <ul class="ulMenu">
            {% if menu_items %}
                {% for item in menu_items %}
                    <li class="menuContent">
                        <img src="{% static 'assets/img/'|add:item.img_path %}" alt="black-tea">
                        <h3>{{ item.name }}</h3>
                        <p class="price">{{ item.price }}円</p>
                        <p class="description">{{ item.description }}</p>
                    </li>
                {% endfor %}
            {% endif %}
        </ul>
    </div>
    <a class="backToHome" href="{% url 'cafe_app:index' %}">＜＜＜ホームに戻る</a>
</section>
{% endblock contents %}
