{% extends 'base.html' %}

{% load static %}

{% block title %}オリジナルメニュー{% endblock title %}

{% block contents %}
<section class="sectionMenu">
    <div class="wrapperHeader">
        <h2>ORIGINAL MENU</h2>
        <p class="notion"><a href="{% url 'cafe_app:create_menu' %}">新規メニューを作る</a></p>
    </div>
    <div class="wrapperMenu">
        <ul class="ulMenu">
            {% for menu in object_list %}
                <a href="{% url 'cafe_app:menu_detail' menu.pk %}">
                    <li class="menuContent">
                        <img src="{{ menu.photo.url }}" alt="{{ menu.name }}">
                        <h3>{{ menu.name }}</h3>
                        <p class="price">{{ menu.price }}円</p>
                        <p class="description">{{ menu.description }}</p>
                    </li>
                </a>
            {% empty %}
                <p>メニューがありません</p>
            {% endfor %}
        </ul>
    </div>
    <a class="backToHome" href="{% url 'cafe_app:index' %}">＜＜＜ホームに戻る</a>
</section>
{% endblock contents %}
